<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Updater Options">
		<setting label="Backup Folder" type="folder" id="backupfolder" source="" option="writeable" default="special://home/backups" />
		<setting id="autoenable" type="bool" label="Αυτόματη ενεργοποίηση πρόσθετων κατά την επόμενη εκκίνηση" visible="true" default="false"/>
		<setting type="sep" />
		<setting id="firstrun" type="bool" label="First Run" visible="false"/>
		<setting id="firstrunNotify" type="bool" label="First Run Notification" visible="true" default="true"/>
		<setting type="text" label="Γνωστοποίηση για νεές αλλαγές[CR](προσθήκες-διορθώσεις-τροποποιήσεις) στο Build " enable="false" />
		<setting id="notifyversion" type="text" label="Installed Version TechNEWSology Build Updater: " enable="false" default="0"/>
		<setting type="sep" />
		<setting id="updaterversion" type="text" label="Version Downloader_Startup: " enable="true" default="0"/>
		<setting id="skinshortcutsversion" type="text" label="Version Skinshortcuts_Startup: " enable="true" default="0"/>
		<setting id="addonsreposversion" type="text" label="Version Addons33_Startup: " enable="true" default="0"/>
		<setting id="xmlskinversion" type="text" label="Version Xml_Skin_Startup: " enable="true" default="0"/>
		<setting id="playersversion" type="text" label="Version Players_Startup: " enable="true" default="0"/>
		<setting id="setsettingversion" type="text" label="Version Set_Setting_Startup: " enable="true" default="0"/>
		<setting id="installationversion" type="text" label="Version Installation_Startup: " enable="true" default="0"/>
		<setting id="deleteversion" type="text" label="Version Delete_Startup: " enable="true" default="0"/>
		<setting id="varversion" type="text" label="Version Var_Startup: " enable="true" default="0"/>
		<setting id="zip1version" type="text" label="Version Zip1_Startup: " enable="true" default="0"/>
		<setting id="zip2version" type="text" label="Version Zip2_Startup: " enable="true" default="0"/>
		<setting id="zip3version" type="text" label="Version Zip3_Startup: " enable="true" default="0"/>
		<setting id="zip4version" type="text" label="Version Zip4_Startup: " enable="true" default="0"/>
		<setting id="zip5version" type="text" label="Version Zip5_Startup: " enable="true" default="0"/>
		<setting id="pvrversion" type="text" label="Version Pvr_Startup: " enable="true" default="0"/>
		<setting type="text" label="Μην αλλάξετε τις παραπάνω τιμές, εκτός αν σας ζητηθεί[CR]ή αν γνωρίζετε ότι δεν έχετε λάβει κάποια ενημέρωση" enable="false" />
	</category>
	<category label="Save Items">
		<setting type="lsep" label="[COLOR orange]Επιλογή στοιχείων προς διατήρηση κατά την νέα εγκατάσταση[/COLOR]:"/>
		<setting id="savefavs" type="bool" label="Save my favourites" default="false"/>
		<setting id="savedebrid"  type="bool" label="Save my Real Debrid info (Resolveurl)" default="false"/>
		<setting id="saveopensubtitles"  type="bool" label="Save my OpenSubtitles (Username - Password)" default="false"/>
		<setting id="savedisney"  type="bool" label="Save my Disney Settings" default="false"/>
		<setting id="savenetflix"  type="bool" label="Save my Netflix Settings" default="false"/>
		<setting id="savepvrstalker"  type="bool" label="Save my Pvr Stalker (Settings)" default="false"/>
		<setting id="savesources" type="bool" label="Save my sources in File Manager" default="false"/>
		<setting id="saveadvanced" type="bool" label="Save my Advanced Settings" default="false"/>
		<setting id="saveapikey" type="bool" label="Save my API Key Youtube " default="false"/>
		<setting id="savemypreferences"  type="bool" label="Save my MyPreferences Settings (Folders)" default="false"/>
	</category>
</settings>